Options -Indexes
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ index.php [L]
<FilesMatch "\.(sqlite|sqlite3|db|sql)$">Require all denied</FilesMatch>
